.character-squares-container {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.character-square {
  width: 60px;
  height: 60px;
  border: 2px solid #ccc;
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.character-square.success {
  border-color: green;
}

.character-square.error {
  border-color: red;
}
